In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/billionaires-statistics-dataset/Billionaires Statistics Dataset.csv

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Summary

In [3]:
d1=pd.read_csv("/kaggle/input/billionaires-statistics-dataset/Billionaires Statistics Dataset.csv")
d1

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2540,1000,Healthcare,Yu Rong,51.0,China,Shanghai,Health clinics,Healthcare,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2636,2540,1000,Food & Beverage,"Richard Yuengling, Jr.",80.0,United States,Pottsville,Beer,Food & Beverage,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2637,2540,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2638,2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2639,2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,...,2.5,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017

# Data Exploration

In [4]:
print(f"The shape of the DataFrame is:{d1.shape}")
print(f"The size of the DataFrame is:{d1.size}")

The shape of the DataFrame is:(2640, 35)
The size of the DataFrame is:92400

In [5]:
d1.columns

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country'],
      dtype='object')

In [6]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 35 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rank                                        2640 non-null   int64
 1   finalWorth                                  2640 non-null   int64
 2   category                                    2640 non-null   object
 3   personName                                  2640 non-null   object
 4   age                                         2575 non-null   float64
 5   country                                     2602 non-null   object
 6   city                                        2568 non-null   object
 7   source                                      2640 non-null   object
 8   industries                                  2640 non-null   object
 9   countryOfCitizenship                        2640 non-null   object
 10  organization                                325 non-null    object
 11  selfMade                                    2640 non-null   bool
 12  status                                      2640 non-null   object
 13  gender                                      2640 non-null   object
 14  birthDate                                   2564 non-null   object
 15  lastName                                    2640 non-null   object
 16  firstName                                   2637 non-null   object
 17  title                                       339 non-null    object
 18  date                                        2640 non-null   object
 19  state                                       753 non-null    object
 20  residenceStateRegion                        747 non-null    object
 21  birthYear                                   2564 non-null   float64
 22  birthMonth                                  2564 non-null   float64
 23  birthDay                                    2564 non-null   float64
 24  cpi_country                                 2456 non-null   float64
 25  cpi_change_country                          2456 non-null   float64
 26  gdp_country                                 2476 non-null   object
 27  gross_tertiary_education_enrollment         2458 non-null   float64
 28  gross_primary_education_enrollment_country  2459 non-null   float64
 29  life_expectancy_country                     2458 non-null   float64
 30  tax_revenue_country_country                 2457 non-null   float64
 31  total_tax_rate_country                      2458 non-null   float64
 32  population_country                          2476 non-null   float64
 33  latitude_country                            2476 non-null   float64
 34  longitude_country                           2476 non-null   float64
dtypes: bool(1), float64(14), int64(2), object(18)
memory usage: 704.0+ KB

In [7]:
d1.isnull().sum()

rank                                             0
finalWorth                                       0
category                                         0
personName                                       0
age                                             65
country                                         38
city                                            72
source                                           0
industries                                       0
countryOfCitizenship                             0
organization                                  2315
selfMade                                         0
status                                           0
gender                                           0
birthDate                                       76
lastName                                         0
firstName                                        3
title                                         2301
date                                             0
state                                         1887
residenceStateRegion                          1893
birthYear                                       76
birthMonth                                      76
birthDay                                        76
cpi_country                                    184
cpi_change_country                             184
gdp_country                                    164
gross_tertiary_education_enrollment            182
gross_primary_education_enrollment_country     181
life_expectancy_country                        182
tax_revenue_country_country                    183
total_tax_rate_country                         182
population_country                             164
latitude_country                               164
longitude_country                              164
dtype: int64

  **Percentage of null values**

In [8]:
missing_df=d1.isnull().sum().to_frame().rename(columns={0:"Missing Values"})
missing_df["Percentage of missing values"]=(round((d1.isnull().sum()*100)/(len(d1)),2).astype(str)+"%")
missing_df

,Missing Values,Percentage of missing values
rank,0,0.0%
finalWorth,0,0.0%
category,0,0.0%
personName,0,0.0%
age,65,2.46%
country,38,1.44%
city,72,2.73%
source,0,0.0%
industries,0,0.0%
countryOfCitizenship,0,0.0%
organization,2315,87.69%
selfMade,0,0.0%
status,0,0.0%
gender,0,0.0%
birthDate,76,2.88%
lastName,0,0.0%
firstName,3,0.11%
title,2301,87.16%
date,0,0.0%
state,1887,71.48%
residenceStateRegion,1893,71.7%
birthYear,76,2.88%
birthMonth,76,2.88%
birthDay,76,2.88%
cpi_country,184,6.97%
cpi_change_country,184,6.97%
gdp_country,164,6.21%
gross_tertiary_education_enrollment,182,6.89%
gross_primary_education_enrollment_country,181,6.86%
life_expectancy_country,182,6.89%
tax_revenue_country_country,183,6.93%
total_tax_rate_country,182,6.89%
population_country,164,6.21%
latitude_country,164,6.21%
longitude_country,164,6.21%

In [9]:
d1["country"].unique()
d1["country"].nunique()

78

In [10]:
d1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
rank,2640.0,1.289159e+03,7.396937e+02,1.000000,6.590000e+02,1.312000e+03,1.905000e+03,2.540000e+03
finalWorth,2640.0,4.623788e+03,9.834241e+03,1000.000000,1.500000e+03,2.300000e+03,4.200000e+03,2.110000e+05
age,2575.0,6.514019e+01,1.325810e+01,18.000000,5.600000e+01,6.500000e+01,7.500000e+01,1.010000e+02
birthYear,2564.0,1.957183e+03,1.328252e+01,1921.000000,1.948000e+03,1.957000e+03,1.966000e+03,2.004000e+03
birthMonth,2564.0,5.740250e+00,3.710085e+00,1.000000,2.000000e+00,6.000000e+00,9.000000e+00,1.200000e+01
birthDay,2564.0,1.209984e+01,9.918876e+00,1.000000,1.000000e+00,1.100000e+01,2.100000e+01,3.100000e+01
cpi_country,2456.0,1.277552e+02,2.645295e+01,99.550000,1.172400e+02,1.172400e+02,1.250800e+02,2.885700e+02
cpi_change_country,2456.0,4.364169e+00,3.623763e+00,-1.900000,1.700000e+00,2.900000e+00,7.500000e+00,5.350000e+01
gross_tertiary_education_enrollment,2458.0,6.722567e+01,2.134343e+01,4.000000,5.060000e+01,6.560000e+01,8.820000e+01,1.366000e+02
gross_primary_education_enrollment_country,2459.0,1.028585e+02,4.710977e+00,84.700000,1.002000e+02,1.018000e+02,1.026000e+02,1.421000e+02
life_expectancy_country,2458.0,7.812282e+01,3.730099e+00,54.300000,7.700000e+01,7.850000e+01,8.090000e+01,8.420000e+01
tax_revenue_country_country,2457.0,1.254624e+01,5.368625e+00,0.100000,9.600000e+00,9.600000e+00,1.280000e+01,3.720000e+01
total_tax_rate_country,2458.0,4.396334e+01,1.214530e+01,9.900000,3.660000e+01,4.120000e+01,5.910000e+01,1.063000e+02
population_country,2476.0,5.102053e+08,5.542447e+08,38019.000000,6.683440e+07,3.282395e+08,1.366418e+09,1.397715e+09
latitude_country,2476.0,3.490359e+01,1.700350e+01,-40.900557,3.586166e+01,3.709024e+01,4.046367e+01,6.192411e+01
longitude_country,2476.0,1.258316e+01,8.676299e+01,-106.346771,-9.571289e+01,1.045153e+01,1.041954e+02,1.748860e+02

In [11]:
d1["country"].duplicated().sum()

2561

# Data Accessing

# Defining the Problems

1. **Wealth Distribution:**
   - What is the distribution of wealth (finalWorth) among the individuals in the dataset?
   - Are there any patterns or trends in the finalWorth column?

2. **Top Industries:**
   - Which industries have the highest representation among the individuals in the dataset?
   - Is there a correlation between wealth and the industry in which an individual is involved?

3. **Geographical Analysis:**
   - How is wealth distributed among different countries and cities?
   - Are there specific countries or cities that are more prominent in the dataset?

4. **Age Analysis:**
   - What is the distribution of ages among the individuals in the dataset?
   - Is there any correlation between age and wealth?

5. **Source of Wealth:**
   - What are the primary sources of wealth for the individuals in the dataset?
   - Is there a correlation between the source of wealth and the individual's ranking or net worth?

6. **Correlation Analysis:**
   - Are there any correlations between the economic indicators (e.g., cpi_change_country, gdp_country) and the wealth of individuals?

7. **Tax Analysis:**
   - How do tax-related variables (tax_revenue_country_country, total_tax_rate_country) relate to the wealth of individuals?
   - Are there any trends in tax rates or revenues across countries?

8. **Population vs. Wealth:**
   - Is there any correlation between the population of a country and the total wealth of individuals from that country?

9. **Gender Representation:**
   - Is there a gender representation in the dataset, and does it have any correlation with wealth?

10. **Life Expectancy and Wealth:**
   - Is there a correlation between life expectancy in a country and the wealth of individuals from that country?